<table class="w-full" style="padding: 0px 20px;">
  <tr>
      <td class="px-base pt-base sm:pl-[20px]" style="width:110px;padding: 20px 0px;">
        <x-image class="max-w-full" imgUrl="header_logo.png" href="#" />
      </td>
    <td class="sm-text-center">
      <p style="color:#002B2B; font-size: 12px; padding:0px 20px;" class="sm:p-[20px]">
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
    </td>
  </tr>

</table>


